<%- include('./includes/header.ejs') %>
</head>

<body>
    <h1>This is a default node, express & ejs starter template</h1>
    <p>It's structured in the MVC architectural pattern</p>
</body>

</html>