<%- include('./includes/head.ejs') %>
</head>

<body>
    <%- include('./includes/headerNav.ejs') %>
    <div class="page_width main">
        <h1>This is a default node, express & ejs starter template</h1>
        <p>It's structured in the MVC architectural pattern</p>
    </div>
</body>

</html>